.partners{
	.first-screen{
		background: url('../img/parnters/first.jpg');
		background-position: center;
		background-size: cover;
		height: 100vh;
		display: flex;
		align-items: center;
		position: relative;
		.triangle{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			max-height: 80vh;
		}
		ul{
			li{
				color: $title;
				font-size: 1.333333rem;
				font-weight: 500;
				text-transform: uppercase;
				margin: 0.5rem 0;
			}
			padding-left: 1.75rem;
			border-left: 6px solid $main;
			margin-bottom: 2rem;
		}
		p{
			color: $title;
		}
		.mob-bg{
			background: url('../img/picture_home.jpg');
			height: 50vh;
			display: none;
		}
		h1{
			text-transform: uppercase;
			margin-bottom: 2.75rem;
		}

		&__btn{
			display: flex;
			justify-content: space-between;
			margin-top: 2rem;
			a{
				padding-left: 4.5rem;
				padding-right: 4.5rem;
			}
		}
	}
	.individual{
		background: url('../img/finished-bg2.jpg');
		background-size: cover;
		background-position: center;
		padding: 2rem;
		margin-top: 4rem;
		text-align: center;
		p{
			text-transform: uppercase;
		}
	}
	.parnters-logo{
		background: $wh;
		padding: 2rem;
		text-align: center;
		img{
		    max-height: 5rem;
		    margin: 1rem;
		    max-width: 10rem;
		}
	}
	.partners-block{
		h2{
			font-weight: 400;
			text-align: center;
			margin-bottom: 2.5rem;
			margin-top: 3rem;
		}
	}
}