.partners{
	.first-screen{
		background: url('../img/parnters/first.jpg');
		background-position: center;
		background-size: cover;
		height: 100vh;
		display: flex;
		align-items: center;
		position: relative;
		.triangle{
			position: absolute;
			top: 6rem;
			bottom: 6rem;
			right: 0;
			max-height: 80vh;
		}
		ul{
			li{
				color: $title;
				font-size: 1.333333rem;
				font-weight: 500;
				text-transform: uppercase;
				margin: 0.5rem 0;
			}
			padding-left: 1.75rem;
			border-left: 6px solid $main;
			margin-bottom: 2rem;
		}
		p{
			color: $title;
		}
		.mob-bg{
			background: url('../img/picture_home.jpg');
			height: 50vh;
			display: none;
		}
		h1{
			text-transform: uppercase;
			margin-bottom: 2.75rem;
		}

		&__btn{
			display: flex;
			justify-content: space-between;
			margin-top: 2rem;
			a{
				padding-left: 4.5rem;
				padding-right: 4.5rem;
			}
		}
	}
	.rozrahunok{
		margin-bottom: 3.5rem;
		h1{
			text-align: center;
			margin-top: 4.7rem;
			margin-bottom: 4rem;
			text-transform: uppercase;
		}
		h2{
			font-weight: 400;
			text-align: center;
			margin-bottom: 2.22rem;
			margin-top: 1rem;
		}
		&-door{
			background: $wh;
			 display: flex;
   			 flex-direction: column;
   			 padding-bottom: 5.5rem;
   			 cursor: pointer;
   			 &:hover .rozrahunok-door__img{
   			 	transform: scale(1.05);
   			 }
			&__img-block{
				padding: 1rem 0 1rem 0;
				position: relative;
			    
			    width: max-content;
			    margin: 0 auto;
			    
				&:after{
					content: "";
					position: absolute;
					width: 100%;
					height: 12px;
					left: 0;
					right: 0;
					bottom: -10px;

					background: rgba(0, 0, 0, 0.09);
					filter: blur(10px);
					border-radius: 20px;
				}
			}
			&__img{
				max-width: 17.75rem;
				max-height: 17rem;
				position: relative;
				display: block;
				margin: 0 auto;
				transition: all 0.2s;
				&-b{
					display: flex;
					min-height: 24rem;
			    	align-items: center;
				}
			}
			&__name{
				text-align: center;
			}
			&__description{
				max-width: 21rem;
				margin: 0 auto;
			}
		}
	}
	.whywe{

		&__title{
			text-align: center;
		}
		&__subtitle{
			text-align: center;
			max-width: 50rem;
			margin: 0 auto;
			margin-bottom: 3.666rem;
		}
		&-block{
			margin: 1.4rem 0;
			position: relative;	
			border: 4px solid #E5E5E5;

			&:hover .whywe-block__icon{
		    	opacity: 1 !important; 
		    }
			
			&-block{
			padding: 0 4rem;			
			padding-bottom: 2.5rem;
			padding-top: 1.5rem;	
			position: relative;
			min-height: 14.5rem;
			}
			&__name{
				margin-bottom: 2.25rem;
			}
			&__description{
				max-width: 30rem;
				min-width: 5rem;
			}
			&__icon{
				max-width: 3.6rem;
			}
			&__img{
				padding-right: 1rem;
				padding-bottom: 1rem;
				background: #F8F8F8;
				position: absolute;
				top: -1rem;
				left: -1.4rem;
				z-index: 9;
				opacity: 0;
				transition: .2s ease-out;
				transition-delay:0.7s;
			}
		}
		.whywe-block::after{
            content: '';
            background-color: $main;
            position:absolute;
            width: 0%;
            height: 4px;
            top:-4px;
            left: -4px;
            transition-duration: 0.2s;
        }

        .whywe-block::before{
            content: '';
            background-color: $main;
            position:absolute;
            width: 0%;
            height: 4px;
            bottom:-4px;
            right: -4px;
            transition-duration: 0.2s;
        }

        .whywe-block-block::after{
            content: '';
            background-color: $main;
            position:absolute;
            width: 4px;
            height: 0%;
            top:-4px;
            right: -4px;
            transition-duration: 0.2s;
        }
        .whywe-block-block::before{
            content: '';
            background-color: $main;
            position:absolute;
            width: 4px;
            height: 0%;
            bottom:-4px;
            left: -4px;
            transition-duration: 0.2s;
        }

        .whywe-block:hover::after{
            width: calc(100% + 4px);
        }
        .whywe-block:hover > .whywe-block-block::after{
            transition-delay: 0.2s;
            height: calc(100% + 4px);
        }
        .whywe-block:hover::before{
            transition-delay: 0.4s;
            width: calc(100% + 4px);
        }
        .whywe-block:hover > .whywe-block-block::before{
            transition-delay: 0.6s;
            height: calc(100% + 4px);
        }
	}
	.individual{
		background: url('../img/finished-bg2.jpg');
		background-size: cover;
		background-position: center;
		padding: 2rem;
		margin-top: 4rem;
		text-align: center;
		p{
			text-transform: uppercase;
		}
	}
	.parnters-logo{
		background: $wh;
		padding: 2rem;
		text-align: center;
		img{
			max-height: 5rem;
			margin: 1rem 0;
		}
	}
	.partners-block{
		h2{
			font-weight: 400;
			text-align: center;
			margin-bottom: 2.5rem;
			margin-top: 3rem;
		}
	}
}