.main.shop {
    margin-top: 11.5rem;
}
.btn-filter {
    display: none;
}
.filter {
    width: 100%;
    height: 80.5vmin;
    background-color: $wh;
    overflow: auto;
    margin-bottom: 20px;
    padding: 47px 40px 0 40px;
    // &::-webkit-scrollbar {
    //     width: 7px;
    //     height: 25px;
    // }
    // &::-webkit-scrollbar-track {
    //     background-color: #F1F1F1;
    // }
    // &::-webkit-scrollbar-thumb {
    //     background-color: $border-gray;
    //     @include border-radius(5px);
    // }
}

[data-simplebar] {
    max-width: 100%;
}

.simplebar-track.simplebar-vertical {
    width: 7px;
    background-color: #F1F1F1;
}

.simplebar-scrollbar{
    right: 0;
    &:before {
        @include border-radius(5px);
        background: $border-gray;
        width: 7px;
    }
}

.filter-type {
    padding-bottom: 4.4vmin;
    margin-bottom: 4vmin;
    border-bottom: 1px solid $border-gray;
    &:last-of-type {
        border: none;
        padding-bottom: 0;
    }
    > p {
        margin: 0;
        margin-bottom: 3.8vmin;
        color: $main;
        font-weight: 700;
        font-family: $font-title;
    }
        /*style for checkbox*/
    .label-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 2.45vmin;
        cursor: pointer;
        color: $text;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:last-of-type {
            margin-bottom: 0;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: auto;
            margin: 0;
            border: none;
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        .checkmark {
            position: absolute;
            top: 50%;
            margin-top: -12.5px;
            left: 0;
            height: 25px;
            width: 25px;
            background: -webkit-linear-gradient(320.19deg, #F8F8F8 0%, #F1F1F1 92.42%);
            background: -o-linear-gradient(320.19deg, #F8F8F8 0%, #F1F1F1 92.42%);
            background: linear-gradient(129.81deg, #F8F8F8 0%, #F1F1F1 92.42%);
            border: 1px solid $border-gray;
            box-sizing: border-box;
            @include border-radius(3px);
            &::after {
                content: "";
                position: absolute;
                display: none;
                background: url(../img/icons/checked.svg) no-repeat;
                background-position: center center;
                width: 100%;
                height: 100%;
            }
        }
    }

}

.goods-sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 36px 0;
    font-size: 16px;
    > span{
        margin-right: 14px;
        display: block;
    }
    .jq-selectbox__select {
        height: 40px;
        width: 256px;
        padding: 0 45px 0 12px;
        border: 1px solid #CCC;
        background: linear-gradient(169.38deg, #F8F8F8 0%, #F1F1F1 92.42%);
        border: 1px solid $border-gray;
        box-sizing: border-box;
        @include border-radius(3px);
        box-shadow: none;
        color: $title;
        font: 16px/40px $font;
        text-shadow: none;
        .jq-selectbox__trigger {
            height: 100%;
            border-left: none;
            .jq-selectbox__trigger-arrow {
                background: url(../img/icons/drop-down-arrow.svg) no-repeat center center;
                top: 0;
                right: 12px;
                width: 16px;
                height: 100%;
                border: none;
            }
        }
    }
    .jq-selectbox__dropdown {
        box-sizing: border-box;
        margin: 0;
        background: linear-gradient(134.51deg, #EAEAEA 0%, #F2F2F2 92.42%);
        border: 1px solid $border-gray;
        box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);
        @include border-radius(3px);     
        box-shadow: none;
        font: 16px/40px $font;
    }
    .jq-selectbox ul {
        padding: 10px 0;
    }
    .jq-selectbox li{
        padding: 0 12px;
        &.selected{
            background-color: $border-gray;
            color: $title;
        }
        &:hover {
            background-color: $border-gray;
            color: $title;
        }
    }
    .jq-selectbox{
        &.opened {
            box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);
            .jq-selectbox__dropdown {
                box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);
            }
        }
    }
}

.goods-card {
    width: 100%;
    background-color: $wh;
    margin-bottom: 30px;
    transition: 0.5s;
    &:hover {
        box-shadow: -10px 15px 40px rgba(0, 0, 0, 0.13);
    }
    .goods-card__img {
        width: 100%;
        height: 310px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    .goods-card__body {
        padding: 0 24px;
        .goods-cards__title {
            font-family: $font-title;
            font-weight: 700;
            color: $title;
            margin: 15px 0;
            font-size: 24px;
            display: block;
        }
        .goods-card__reviews {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-top: 14px;
            > a {
                padding-left: 15px;
                border-left: 1px solid;
                color: $goods-card-gray;
                margin-left: 15px;
                transition: 0.4s;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .goods-cards__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .goods-cards__price {
            font-size: 20px;
            font-weight: 500;
            color: $title;
            padding-left: 24px;
            line-height: normal;
            align-self: center;
        }
        .goods-cards__price-discount {
            align-self: flex-start;
            font-size: 20px;
            font-weight: 500;
            color: $title;
            padding-left: 24px;
            line-height: normal;
            >span {
                font-size: 18px;
                font-family: $font-title;
                text-decoration-line: line-through;
                font-weight: 700;
                display: block;
                color: $goods-card-gray;
                line-height: normal;
            }
        }
        .goods-cards__btn {
            background-color: $main;
            color: $wh;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 202px;
            height: 65px;
            align-self: flex-end;
            > img {
                width: 30px;
                margin-right: 12px;
            }
        }
    }
}

.goods-banner {
    width: 100%;
    margin-bottom: 30px;
    display: block;
    > img {
        width: 100%;
    }
}

.btn-more-goods {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: $font-title;
    font-weight: 700;
    color: $goods-card-gray;
    line-height: normal;
    margin: 25px auto 55px;
    transition: 0.4s;  
    width: 445px;
    cursor: pointer; 
    > svg {
        margin-right: 25px;
        transition: 0.4s;  
    }
    &:hover {
        color: $main;
        > svg {
            fill: $main;
        }
    }
}

.line {
    border-top: 1px solid $goods-card-gray;
    width: 100%;
    margin: 14px 0;
    &:last-of-type {
        margin-bottom: 54px;
    }
}

.shop-info {
    height: 114px;
    overflow-y: auto;
    width: 100%;
    color: $grey;
    line-height: 30px;
    position: relative;
    p {
        margin: 0;
    }
    ul {
        margin: 0;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 1580px) {
    .filter {
        padding: 47px 30px 0 30px;
    }
    
    .goods-sort {
        margin: 30px 0;
    }
    
    .goods-card {
        .goods-cards__footer {
            .goods-cards__btn {
                font-size: 16px;
                width: 180px;
                height: 60px;
                > img {
                    width: 28px;
                }
            }
        }
    }
    
    .btn-more-goods {
        font-size: 20px;  
        width: 390px;
        margin: 15px auto 45px;
        > svg {
            width: 50px;
        }
    }

    .shop-info {
        height: 12.78vmin;
        line-height: 30px;
        padding-right: 10px;
    }
    
}

@media only screen and (max-width: 1400px) {
    .goods-card {
        .goods-card__img {
            width: 100%;
            height: 280px;
        }
        .goods-card__body {
            padding: 0 20px;;
            .goods-cards__title {
                margin: 10px 0;
                font-size: 20px;
            }
            .goods-card__reviews {
                margin-top: 10px;
                .stars {
                    > img {
                        width: 20px;
                    }
                }
                > a {
                    padding-left: 12px;
                    margin-left: 12px;
                }
            }
        }
        .goods-cards__footer {
            margin-top: 30px;
            .goods-cards__price {
                font-size: 18px;
                padding-left: 20px;
            }
            .goods-cards__price-discount {
                font-size: 18px;
                padding-left: 20px;
                >span {
                    font-size: 16px;
                }
            }
            .goods-cards__btn {
                width: 160px;
                > img {
                    width: 24px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .filter {
        padding: 28px 20px 0 20px;
    }
    
    .filter-type {
        font-size: 14px;
        .label-checkbox {
            padding-left: 26px;
            .checkmark {
                margin-top: -9px;
                height: 18px;
                width: 18px;
                &::after {
                    background-size: 75%;
                }
            }
        }
    
    }
    .goods-card {
        .goods-card__img {
            width: 100%;
            height: 200px;
            img {
                max-width: 90%;
                max-height: 90%;
            }
        }
        .goods-card__body {
            padding: 0 18px;;
            .goods-cards__title {
                font-size: 18px;
            }
            .goods-cards__size {
                font-size: 14px;
            }
            .goods-card__reviews {
                .stars {
                    > img {
                        width: 18px;
                    }
                }
                > a {
                    padding-left: 8px;
                    margin-left: 8px;
                    font-size: 14px;
                }
            }
        }
        .goods-cards__footer {
            .goods-cards__price {
                font-size: 16px;
                padding-left: 18px;
            }
            .goods-cards__price-discount {
                font-size: 16px;
                padding-left: 18px;
                >span {
                    font-size: 15px;
                }
            }
            .goods-cards__btn {
                font-size: 15px;
                width: 140px;
                height: 55px;
                > img {
                    width: 20px;
                }
            }
        }
    }
    .btn-more-goods {
        margin: 0 auto 28px;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 992px) {
    .goods-card {
        .goods-card__body {
            .goods-card__reviews {
                .stars {
                    > img {
                        width: 16px;
                    }
                }
            }
        }
        .goods-cards__footer {
            flex-direction: column;
            align-items: center;
            margin-top: 22px;
            height: 110px;
            .goods-cards__price {
                font-size: 18px;
                padding-left: 0;
                margin-top: 15px;
            }
            .goods-cards__price-discount {
                align-self: center;
                font-size: 18px;
                padding-left: 0;
                >span {
                    font-size: 16px;
                }
            }
            .goods-cards__btn {
                align-self: center;
                width: 100%;
                margin-top: 14px;
                > img {
                    width: 24px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .main.shop {
        margin-top: 15rem;
    }    
}

@media only screen and (max-width: 850px) and (min-width: 768px) {
    .goods-card {
        .goods-card__img {
            height: 180px;
        }
        .goods-card__body {
            .goods-card__reviews {
                .stars {
                    > img {
                        width: 17px;
                    }
                }
            }
        }
        .goods-cards__footer {
            flex-direction: column;
            align-items: center;
            margin-top: 22px;
            height: 110px;
            .goods-cards__price {
                font-size: 18px;
                padding-left: 0;
                margin-top: 15px;
            }
            .goods-cards__price-discount {
                align-self: center;
                font-size: 18px;
                padding-left: 0;
                >span {
                    font-size: 16px;
                }
            }
            .goods-cards__btn {
                align-self: center;
                width: 100%;
                margin-top: 14px;
                > img {
                    width: 24px;
                }
            }
        }
    }

    .shop-info {
        line-height: 22px;
    }
}

@media only screen and (max-width: 767.8px) {
    .main.shop {
        margin-top: 10.5rem;
    }

    .shop {
        position: relative;
    }

    .filter {
        position: fixed;
        top: 0;
        left: 15px;
        z-index: 100;
        height: 100vh;
        width: 360px;
        transform: translateX(-110%);
        transition: 0.5s ease;
        &.openedFilter {
            transform: translateX(0);
            box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.04);
        }
    }
    .btn-filter {
        display: block;
        position: absolute;
        top: 38px;
        left: 55px;
        z-index: 10;
        cursor: pointer;
        font-size: 16px;
        > img {
            width: 30px;
            margin-right: 8px;
        }
    }
    .filter-type {
        font-size: 16px;
            /*style for checkbox*/
        .label-checkbox {
            margin-bottom: 18px;
            padding-left: 30px;
            .checkmark {
                margin-top: -11px;
                height: 22px;
                width: 22px;
            }
        }
    
    }

    .goods-card {
        .goods-cards__footer {
            .goods-cards__btn {
                width: 50%;
            }
        }
    }
}

@media only screen and (max-width: 577px) {
    .main.shop {
        margin-top: 12rem;
    }
    .btn-filter{
        position: static;
        margin-left: 15px;
        > img {
            width: 26px;
        }
    }
    .filter {
        left: 0;
        width: 290px;
    }
    .goods-sort {
        justify-content: flex-start;
        .jq-selectbox__select {
            width: 198px;
        }
        .jq-selectbox{
            &.opened {
                box-shadow: none;
                .jq-selectbox__dropdown {
                    box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);
                }
            }
        }
    }
    
    .goods-card {
        margin-bottom: 16px;
    }
    .goods-banner {
        margin-bottom: 16px;
    }

    .btn-more-goods {
        font-size: 16px;  
        width: 100%;
        margin: 15px auto 45px;
        > svg {
            width: 28px;
            margin-right: 10px;
        }
    }
    .shop-info {
        height: 125px;
        line-height: 24px;
    }
}

@media (max-height : 420px) and (orientation: landscape) {
    .main.shop {
        margin-top: 9.5rem;
    }
}

