.main.shop {
    margin-top: 11.5rem;
}
.filter {
    width: 100%;
    height: 725px;
    background-color: $wh;
    overflow: auto;
    margin-bottom: 20px;
    padding: 47px 40px 0 40px;
}

.filter-type {
    padding-bottom: 4.45vmin;
    margin-bottom: 4vmin;
    border-bottom: 1px solid $border-gray;
    &:last-of-type {
        border: none;
        padding-bottom: 0;
    }
    > p {
        margin: 0;
        margin-bottom: 3.8vmin;
        color: $main;
        font-weight: 700;
        font-family: $font-title;
    }
        /*style for checkbox*/
    .label-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 2.45vmin;
        cursor: pointer;
        color: $text;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: auto;
            margin: 0;
            border: none;
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        .checkmark {
            position: absolute;
            top: 50%;
            margin-top: -12.5px;
            left: 0;
            height: 25px;
            width: 25px;
            background: -webkit-linear-gradient(320.19deg, #F8F8F8 0%, #F1F1F1 92.42%);
            background: -o-linear-gradient(320.19deg, #F8F8F8 0%, #F1F1F1 92.42%);
            background: linear-gradient(129.81deg, #F8F8F8 0%, #F1F1F1 92.42%);
            border: 1px solid $border-gray;
            box-sizing: border-box;
            @include border-radius(3px);
            &::after {
                content: "";
                position: absolute;
                display: none;
                background: url(../img/icons/checked.svg) no-repeat;
                background-position: center center;
                width: 100%;
                height: 100%;
            }
        }
    }

}

.goods-sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 36px 0;
    font-size: 16px;
    > span{
        margin-right: 14px;
        display: block;
    }
    .jq-selectbox__select {
        height: 40px;
        width: 256px;
        padding: 0 45px 0 12px;
        border: 1px solid #CCC;
        background: linear-gradient(169.38deg, #F8F8F8 0%, #F1F1F1 92.42%);
        border: 1px solid $border-gray;
        box-sizing: border-box;
        @include border-radius(3px);
        box-shadow: none;
        color: $title;
        font: 16px/40px $font;
        text-shadow: none;
        .jq-selectbox__trigger {
            height: 100%;
            border-left: none;
            .jq-selectbox__trigger-arrow {
                background: url(../img/icons/drop-down-arrow.svg) no-repeat center center;
                top: 0;
                right: 12px;
                width: 16px;
                height: 100%;
                border: none;
            }
        }
    }
    .jq-selectbox__dropdown {
        box-sizing: border-box;
        margin: 0;
        background: linear-gradient(134.51deg, #EAEAEA 0%, #F2F2F2 92.42%);
        border: 1px solid $border-gray;
        box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);
        @include border-radius(3px);     
        box-shadow: none;
        font: 16px/40px $font;
    }
    .jq-selectbox ul {
        padding: 10px 0;
    }
    .jq-selectbox li{
        padding: 0 12px;
        &.selected{
            background-color: $border-gray;
            color: $title;
        }
        &:hover {
            background-color: $border-gray;
            color: $title;
        }
    }
    .jq-selectbox{
        &.opened {
            box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);
            .jq-selectbox__dropdown {
                box-shadow: -5px 8px 8px rgba(0, 0, 0, 0.12);
            }
        }
    }
}

.goods-card {
    width: 100%;
    background-color: $wh;
    margin-bottom: 30px;
    transition: 0.5s;
    &:hover {
        box-shadow: -10px 15px 40px rgba(0, 0, 0, 0.13);
    }
    .goods-card__img {
        width: 100%;
        height: 310px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 100%;
            margin: 20px;
        }
    }
    .goods-card__body {
        padding: 0 24px;;
        .goods-cards__title {
            font-family: $font-title;
            font-weight: 700;
            color: $title;
            margin: 15px 0;
            font-size: 24px;
        }
        .goods-card__reviews {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-top: 14px;
            > a {
                padding-left: 15px;
                border-left: 1px solid;
                color: $goods-card-gray;
                margin-left: 15px;
            }
        }
    }
    .goods-cards__footer {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        .goods-cards__price {
            font-size: 20px;
            font-weight: 500;
            color: $title;
            padding-left: 24px;
            line-height: normal;
            align-self: center;
        }
        .goods-cards__price-discount {
            align-self: flex-start;
            font-size: 20px;
            font-weight: 500;
            color: $title;
            padding-left: 24px;
            line-height: normal;
            >span {
                font-size: 18px;
                font-family: $font-title;
                text-decoration-line: line-through;
                font-weight: 700;
                display: block;
                color: $goods-card-gray;
                line-height: normal;
            }
        }
        .goods-cards__btn {
            background-color: $main;
            color: $wh;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 202px;
            height: 65px;
            align-self: flex-end;
            > img {
                width: 30px;
                margin-right: 12px;
            }
        }
    }
}

.goods-banner {
    width: 100%;
    margin-bottom: 30px;
    > img {
        width: 100%;
    }
}

.btn-more-goods {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: $font-title;
    font-weight: 700;
    color: $goods-card-gray;
    line-height: normal;
    margin: 55px auto;
    transition: 0.4s;  
    width: 445px;
    cursor: pointer; 
    > svg {
        margin-right: 25px;
        transition: 0.4s;  
    }
    &:hover {
        color: $main;
        > svg {
            fill: $main;
        }
    }
}

.line {
    border-top: 1px solid $goods-card-gray;
    width: 100%;
    margin: 14px 0;
    &:last-of-type {
        margin-bottom: 54px;
    }
}

.shop-info {
    height: 120px;
    overflow-y: scroll;
    width: 100%;
    color: $grey;
    line-height: 30px;
    position: relative;
    > p {
        margin: 0;
    }
    > ul {
        margin: 0;
        padding-left: 20px;
    }
}



