@import 'fonts';
@import 'var';
@import 'reset';
@import 'default';


a{
	transition: all 0.2s;
}
.btn{
	padding: 1rem;
	border-radius: 60px;
	text-transform: uppercase;
	font-family: $font-title;
	min-width: 12rem;
	text-align: center;
	display: inline-block;
	transition: all 0.15s;
	position: relative;
	&:hover{
		box-shadow: none !important;
	}
}

.btn-red{
	background: $main;
	color: $wh;
	box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.25);
}
.btn-black{
	background: $title;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	color: $wh;
	box-shadow: -12px 15px 10px rgba(0, 0, 0, 0.3);
}
.btn-transperent{
	border: 2px solid $title;
	color: $title;
	transition: all 0.2s ease-in-out;
	&:hover{
		background: $title;
		color: $wh;
	}
}
.list-style-none{
	padding-left: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.page-title{
	margin-bottom: 3.5rem;
}
	input{
		width: 100%;
		padding: 1rem 2rem;
		border: 1px solid #C4C4C4;
		margin-top: 0.25rem;
		margin-bottom: 1.65rem;
	}

.main{
	margin-top: 14rem;
	background: #F8F8F8;
}

.slick-dots{
	bottom: -40px;
}
.slick-dots li button:before{
	color: #C4C4C4;
    font-size: 18px;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    border: 2px solid $main;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10p;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
}



// HEADER

header .container{
    position: relative;
}

	$size: 40px;
	$height: 20px;
	$width: 30px;
	$line-size: 3px;
	$line-color: $title;
	$line-radius: $line-size;
	$to-translate: ($height - $line-size) / 2;
	$bounce: cubic-bezier(.87,-.50,.19,1.50);
	.menu-humburger{
	  position: relative;
	  height: $size;
	  width: $size;
	  background-color: none;
	  cursor: pointer;
	  overflow: hidden;
	  
	  &__icon {
	    position: absolute;
	    width: $width;
	    height: $height;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	  }
	  &__line {
	    position: absolute;
	    left: 0;
	    background-color: $line-color;
	    height: $line-size;
	    width: 100%;
	    border-radius: $line-radius;
	    pointer-events: none;
	    &--1 {
	      top: 0;
	    }
	    &--2 {
	      top: 0;
	      bottom: 0;
	      margin: auto;
	    }
	    &--3 {
	      bottom: 0;
	    }
	  }
	  &--close2 &__line--1 {
	    transition: transform .3s ease-in-out, 
	      top .2s ease-in-out .3s;
	  }
	  &--close2 &__line--1:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: $line-size;
	    background-color: $line-color;
	    border-radius: $line-radius;
	    transition: transform .1s ease-in-out .2s;
	  }
	  &--close2 &__line--2 {
	    transition: opacity .0s ease-in-out .3s;
	  }
	  &--close2 &__line--3 {
	    transition: opacity .0s ease-in-out .3s, 
	    bottom .2s ease-in-out .3s;
	  }
	  // Open
	  &--close2.open &__line--1 {
	    top: $to-translate;
	    transform: rotate(135deg);
	    transition: top .3s ease-in-out, 
	      transform .3s linear .3s;
	  }
	  &--close2.open &__line--1:before {
	    transform: rotate(90deg);
	    transition: transform .1s ease-in-out .3s;
	  }
	  &--close2.open &__line--2 {
	    opacity: 0;
	    transition: opacity .0s ease-in-out .3s;
	  }
	  &--close2.open &__line--3 {
	    bottom: $to-translate;
	    opacity: 0;
	    transition: bottom .3s ease-in-out, 
	      opacity .0s ease-in-out .3s;
	  }
	}

.header{
    max-width: 100%;
	position: fixed;
	width: 100%;
	z-index: 95;
	top: 0;
	transition: all 0.3s;
	padding: 1.75rem 0;
	&-block{
		display: flex;
		justify-content: space-between;
		align-items: center;	
		top: 0.5rem;
		left: 0;
		right: 0;
		background: none;
	}
	&-logo{
		max-width: 5rem;
		svg path:last-child{
			fill: $main;
			transition: all 0.3s;
		}
	}
	&-right{
		display: flex;
	}
	.main_menu{
		display: flex;
		li{
			margin: 0 1.65rem;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 0.89rem;
			a{
				color: $title;
			}
			a:after {
			    display: block;
			    content: "";
			    height: 2px;
			    width: 0%;
			    background-color: $main;
			    transition: width .3s ease-in-out;
			}
			a:hover:after,
			a:focus:after {
			    width: 100%;
			}
		}
		li.current-menu-item > a:after{
			width: 100%;
		}
	}
	&-phone{
		margin-right: 1rem;
		font-weight: 500;
		color: $main;
		font-size:1.2rem;
		&:hover{
			color: darken( $main, 10%);
		}
	}
	.language__list{
		padding-left: 0.5rem;
		position: relative;
		&:after{
			content: "";
			width: 1px;
			position: absolute;
			height: 1.66rem;
			top: 0;
			left: 0;
			background: #4B4A4A;
		}
		li{
			display: inline;
			margin: 0 0.5rem;
			font-size: 0.89rem;
		}
		a{
			&:hover{
				color: darken( $text, 10%);
			}
		}
		.current{
			color: $main;
			font-weight: 500;
			&:hover{
				color: darken( $main, 10%);
			}
		}
	}
}

.header-black{
	background: linear-gradient(118.93deg, #161616 38.25%, #353535 105.98%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	margin-top: 3.5rem;
	width: 100%;
	padding-top: 1.5rem;
	padding-bottom: 1.9rem;
	z-index: 12;
	&__block{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.header-products{
	display: flex;
	&__block{
		margin-right: 5.5rem;
		display: flex;
	    align-items: center;
	    &:hover span{
			color: $wh;
		}
		&:hover svg{
			fill: $wh;
		}
		span{
			text-transform: uppercase;
			font-size: 0.89rem;
			color: #8C8787;
			font-weight: 700;
			font-family: $font-title;
			transition: all 0.2s;
		}
		svg{
			margin-right: 1rem;
			fill: #8C8787;
			transition: all 0.2s;
		}
	}
}
.header-cart__icon{
	    display: flex;
	    align-items: center;
	    position: relative;
	    &:after{
		    content: "";
		    height: 250%;
		    width: 1px;
		    background: #464646;
		    position: absolute;
		    bottom: -85%;
		    left: -1.9rem;
		}
	&-link{
		display: flex;
	    width: 2.22rem;
	    height: 2.22rem;
	    justify-content: center;
	    align-items: center;
	    background: $main;
	    border-radius: 50%;
	    box-shadow: -4px 6px 3px rgba(0, 0, 0, 0.3);
	    margin-right: 0.333rem;
	    transition: 0.2s;
	    &:hover{
	    	box-shadow: none;
	    }
	}
	span{
		color: $wh;
	}
}


// FOOTER

.footer{
	padding-bottom: 3.777rem;
	background: linear-gradient(96.86deg, #161616 38.25%, #353535 105.98%);
	&-title{
		color: $wh;
		margin-bottom: 2rem;
		margin-top: 3.6rem;
	}
	&_menu{
		li a{
			color: $grey;
			display: block;
			&:hover{
				color: $wh;
			}
		}
		li{
			margin: 1.3rem 0;
		}
		&-indevidual li a{
			color: $grey;
			margin: 1.3rem 0;
			display: block;
			&:hover{
				color: $wh;
			}
		}
	}
	&__social{
		display: flex;
		margin-top: 2rem;
		li{
			display: inline;
			margin: 0 0.5rem;
			&:first-child{
				margin-left: 0;
			}
		}
		a{
			color: $wh;
			font-size: 1.5rem;
			&:hover{
				color: $main;
			}

		}
	}
	&__phone{
		padding: 3rem 0;
		border-bottom: 1px solid #4E4E4E;
		a{
			display: block;
		    color: white;
		    margin: 1rem auto;
		    text-align: center;
		}
	}
	.btn-shop{
		width: 100%;
		background: $main;
		color: $wh;
		display: block;
		text-align: center;
		font-size: 1.333rem;
		text-transform: uppercase;
		margin-top: 3.6rem;
		padding: 1.5rem 0;
		margin-bottom: 2.5rem;
		&:hover{
			background: darken($main, 10%);
		}
	} 
	&-email{
		color: $wh;
		font-weight: 500;
		margin-bottom: 2rem;
		display: block;
		font-size: 1.3888rem;
		&:hover{
			color: $main;
		}
	}
	.language-footer .language__list{
		margin-top: 1.5rem;
		display: block;
		display: flex;
		padding: 0.5rem;
		.current{
			background: $main;
			color: $wh;
		}
		a{
			padding: 0.5rem;
			margin: 0 0.5rem;
			&:hover{
				background: $main;
				color: $wh;
			}
			&:first-child{
				margin-left: 0;
			}
		}
	}
	.payment-icon img{
		max-height: 1.5rem;
		&:first-child{
			margin-right: 1rem;
		}
	}
}


// POPUP
.modal_close {
  font-size: 1.2;
  position: absolute;
  background: url('../img/Vector.svg');
  background-size: initial;
  background-repeat: no-repeat;
  background-position: 50%;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $main;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          transition: all 0.2s;
          &:hover{
          	background: url('../img/Vector-red.svg');
          	background-size: initial;
			background-repeat: no-repeat;
			background-position: 50%;
          } }


#overlay {
  z-index: 998;
  position: fixed;
  background-color: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.rozrah-price-popup {
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;  
  z-index: 999;}
  .rozrah-price {
  	width: 100%;
	height: auto;
  	background: $wh;
  	padding: 3.888rem 7rem 7rem 7rem;
  	input{
  		width: 100%;
  		padding: 1rem 2rem;
  		border: 1px solid #C4C4C4;
  		margin-top: 0.25rem;
		margin-bottom: 1.65rem;
  	}
  	.proiom{
  		display: flex;
  		justify-content: space-between;
  		margin-top: 3rem;
  		label{
  			width: 48%;
  			position: relative;
  			span{
  				position: absolute;
			    right: 1rem;
			    bottom: 2.6rem;
			    color: #c4c4c4;
  			}
  		}
  		input{
  			width: 100%;
  			padding-right: 3rem;
  			text-align: center;
  			
  		}
  	}
  	h2, p{
  		text-align: center;
  	}
  	#submit {
	    position: absolute;
	    bottom: calc(0px - 6rem);
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    width: 26rem;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	    padding: 1rem auto;
	    padding: 1.5rem;
	    border: none;
	    cursor: pointer;
	}
}
.doors-type-popup{
	top: 50%;
	left: 50%;
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
	opacity: 0;  
	z-index: 999;
	width: 80%;
	height: auto;
	background: $wh;
	padding: 3.4rem 7rem 5.6rem 7rem;
	.door-popup{
		border: 4px solid #E5E5E5;
		padding: 4.25rem 2.5rem;
	}
	.rozrahunok-door-type {
	    position: absolute;
	    bottom: calc(0px - 5.6rem - 0.75rem);
	    left: 15px;
	    width: 18rem;
	    transition: all 0.3s;
	    padding: 1.5rem;
	    border: none;
	    cursor: pointer;
	}
	.popup-right{
		position: relative;
	}
}

@import 'home';

@import 'contacts';

@import 'blog';

@import 'shop';

@import 'media';
