@media (max-width : 1600px)   {
	html{
		font-size: 16px;
	}
	.header .main_menu li{
		margin: 0 1rem;
	}
}

@media (min-width: 1520px){
	.container {
	    max-width: 1480px;
	}
}

@media (max-width: 1400px){
		.partners-popup{
			.rozrah-price{
			    padding: 3.888rem 4rem 7rem 4rem;
			}
		}
			.header{
		padding: 0.5rem 0;
	}
	.header-black{
		padding: 0.75rem 0;
		margin-top: 1rem;
	}
	.header-cart__icon:after{
		height: 150%;
	    bottom: -25%;
	}
	.main {
	    margin-top: 10rem;
	}
	.blog .page-title {
	    margin-bottom: 1.5rem;
	    margin-top: 0rem;
	}
}

@media (max-width : 1300px)   {
	.home{
		.feedback-right{
			padding: 1.5rem;
		}
	}
		.p404-block{
		    margin-top: -8rem;
	}
}

@media (max-width : 1025px)   {
	.header{
		.main_menu li{
			margin: 0 0.5rem;
		}
		.header-logo {
		    max-width: 5rem;
		}
		&-products__block{
			margin-right: 1.5rem;
			max-width: 30%;
			span{
				font-size: 0.8rem;
			}
		}
	}
	.main{
		    margin-top: 10rem;
	}
	.home{
		 .feedback .slide{
		 	padding: 2.5rem 1.5rem;
		 }

		.feedback .slider__next{
			right: -3rem;
		}
		.feedback .slider__prew{
			left: -3rem;
		}
		.first-screen__btn{
			justify-content: flex-start;
			margin-top: 2rem;
		}
		.first-screen h1{
			margin: 1rem 0;
			font-size: 2rem;
		}
	}		
	.whywe-block-block {
	    padding: 2rem;
	    min-height: 17rem;
	}
	.rozrah-price{
		padding: 3rem;
	    padding-top: 3rem;
	    input{
	    	margin-bottom: 1rem;
	    }
	}
	.rozrah-price-popup{
		overflow-y: auto;
	}
	.doors-type-popup{
		padding: 0;
		width: 95%;
		padding-bottom: 2.5rem;
		overflow-y: auto;
	}
	.partners-popup{
		overflow-y: auto;
	    input{
	    	margin-bottom: 1rem;
	    }
	}
	.partners-popup{
		overflow-y: auto;
		.rozrah-price{
			padding: 3rem;
		    padding-top: 3rem;
		}
	} 
	.contacts{
		&-information{
			margin-top: 2rem;
			width: 100%;
			right: 0rem;
			top: 0;
			position: inherit;
			display: flex;
			justify-content: space-between;
			&-top{
				width: 100%;
			}
			&-bottom{
				margin-top: 0;
			}
			.work-hours{
				margin-top: 0rem;
			}
		}
		#map iframe {
		    height: 500px;
		}
	}


}

@media (max-width : 992px)   {
	.contacts{
		&-information{
			.work-hours{
				margin-top: 2rem;
			}
		}
	}
	.header .main_menu li{
		font-size: 0.75rem;
	}
	.p404-block{
		    margin-top: -6rem;
	}
		.rozrah-price-popup, .partners-popup, .doors-type-popup{
		width: 75%;
		height: 95vh;
	}
	.rozrah-price .proiom label span{
		bottom: 2rem;
	}
	.rozrah-price #submit{
		    position: inherit;
		    bottom: auto;
		    transform: translate(0);
		    width: auto;
		    margin: 0 auto;
		    text-align: center;
		    display: block;
	}
	.doors-type-popup .door-popup{
		padding: 1rem;
		border: none;
	}
	.doors-type-popup .rozrahunok-door-type{
	    position: inherit;
	    bottom: auto;
	    transform: translate(0);
	    width: auto;
	    margin: 0 auto;
	    text-align: center;
	    display: block;
        margin-top: 3rem;
	}    
}

@media (max-width: 768px){
	.partners .first-screen .triangle{
	    left: 0;
	    right: auto;
	    transform: rotate(180deg);
	    top: 20%;
	}
	.doors-type-popup ul li{
		margin-right: 0;
	}
	.whywe-block-block{
		    min-height: 17.5rem;
		    padding: 2rem;
	}
	.blog .navigation-btn{
		display: block;
	}
		.blog 	.content{
		margin-top: 1.5rem;
	}
		.sidebar{
		display: none;
	}
	.contacts-information__social {
	    margin-left: 1rem;
	    right: -2rem;
	}
	.rozrahunok-door__img{
		max-height: 12rem;
	}
}

@media (max-width : 767px)   {
	html{
		font-size: 15px;
	}
	h1{
		font-size:2rem;
	}
	h2, h3{
		font-size: 1.2rem;
	}
		.p404-block{
		    margin-top: 0rem;
	}
	.p404-btn{
		text-align: center;
	}
	.main {
	    margin-top: 11rem;
	}
	.page-title{
		margin-bottom: 2rem;
	}

	.header {
		padding:1rem 0;
		.header-phone{
			display: none;
		}
		.main_menu{
			flex-direction: column;
		}
		.header-logo {
		    max-width: 5rem;
		    min-width: auto;
		    margin-bottom: 0;
		}
		.mobile_menu{
			display: block;
		}
		&-black{
			margin-top: 2rem;
		}
		&-products{
			margin: 0;
			width: 100%;
			justify-content: space-around;
			&__block{
				margin-right: 2.5rem;
				span{
					display: none;
					margin-right: 2rem;
				}
			}
		}

		
		.language{
			display: none;
			&-mobile{
			    margin-top: 3rem;
			    display: flex;
			    flex-direction: column;
			    .language__list{
			    	    margin: 0 auto;
			    }
			    .language__list:after{
			    	display: none;
			    }
			   ul li{
			    	padding: 1rem 3.6rem;
			    	border: 1px solid $title;
			    	border-radius: 20px;
			    	box-shadow: none;
			    	a{
			    		color: $title;
			    		font-weight: 700;
			    	}
			    }
			    ul li.current{
		    		border: 1px solid $wh;
		    		background: $wh;
		    		box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.25);
		    		a{
		    			color: $main;
		    		}
		    	}
			}
		}
		.header-logo img{
			min-width: 6rem;
		}
		.header__menu{
			position: fixed;
			display: none;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: -1;
		    text-align: center;
		    background: $main;
		    width: 100%;
		    padding: 5rem 0;
		    overflow-x: scroll;
		    li a{
		    	color: $wh;
		    }
		    li.current-menu-item a{
				color: $title;
		    }
		    li{
		    	padding: 1rem 0;
			    font-size: 1.35rem;
		    }
		}
	}
	.home{
		.first-screen__btn{
			margin-top:1rem;
		    margin-bottom: 6rem;
			.btn-transperent{
				display: none;
			}
			
		}
		.first-screen {
		    align-items: center;
		    background: none;
		    .mob-bg{
		    	display: block;
				background-position: 32% 90%;
			    background-size: 300%;
		    	position: absolute;
		    	top: 0;
		    	left: 0;
		    	right: 0;
		    }
		    .triangle {
			    top: auto;
			    bottom: 0;
			    right: 0;
			    min-width: 130%;
			}
			h1{
				margin-bottom: 1rem;
			}
			.btn{
				width: auto;
			}
		}
		.individual{
			margin-top: 2rem;
		    margin-bottom: 2rem;
		}
		.feedback{
			margin-bottom: 2rem;
			.slider-arrow{
				display: none !important;
			}
			&-right{
				padding: 1rem;
			}
			 .slide{
			 	padding: 2rem;
			 	border: none;
			 }
			&-video iframe {
			    height: 10rem;
			}
			h1{
				margin-bottom: 2rem;
			}
		}
	}
	.doors-type-popup ul li{
			margin-right: 0;
		}
		.doors-type-popup .door-popup{
			margin: 1rem;
		}
		.doors-type .rozrahunok-door:nth-of-type(2):after{
			content: "";
			position: absolute;
			width: 80%;
			height: 1px;
			left: 10%;
			top:0;
			z-index: 3;
			background: #E5E5E5
		}
		.doors-type .rozrahunok-door:nth-of-type(2):before{
			content: "";
			position: absolute;
			width: 80%;
			height: 1px;
			right: 10%;
			top:100%;
			z-index: 3;
			background: #E5E5E5
		} 
	.rozrahunok{
			margin-bottom: 1.9rem;

			h1{
				font-size: 1.333rem;
				margin-top: 1rem;
				margin-bottom: 1.5rem;
			}
			.doors-type{
				margin: 1.4rem;
			}
			&-door__img {
			    &-b{
		    	    min-height: auto;
	    	        margin-top: 0rem;
			    }
			}
			&-door{
			    padding: 0 1.6rem;
				padding-bottom: 2rem;
			}
		}
	.whywe .whywe-block::after{
		display: none;
	}
	.whywe .whywe-block::before{
		display: none;
	}
	.whywe .whywe-block-block::before{
		display: none;
	}
	.whywe .whywe-block-block::after{
		display: none;
	}
	.finished-door__name{
		text-transform: uppercase;
	}
	.whywe__subtitle{
		
		margin-top: 1.5rem;
	}

	.whywe-block__name{
	    margin-top: -2.3rem;
	    background: #F8F8F8;
	    padding: 0rem 1rem;
	    white-space: nowrap;
	    padding-left: 1.5rem;
	}
	.whywe-block-block {
	    padding: 0 1.65rem;
	    padding-bottom: 2rem;
	    padding-top: 1.5rem;
        min-height: 10rem;
	}
	.whywe-block__img{
		opacity: 1;
		left: -1.3rem;
	    padding-left: 1rem;
	}
	.whywe-block__icon{
		max-width: 2.25rem;
	}
	.slider-why-we{
		.slick-dots {
		    bottom: 0;
		}
	}
	.slider-sale .slick-arrow{
		display: flex !important;
	}
	.home-sale__btn{
		width: 7rem;
		height: 3rem;
	}
	.contacts{
		&-information{
			display: flex;
			flex-direction: column;
			margin-top: 5rem;
			&-top{
				width: 100%;
			}
			&-bottom{
				margin-top: 0;
			}
			.work-hours{
				margin-top: 0rem;
			}
			&__social{
				margin-top: 0;
				margin-left: 0;
			    left: 50%;
			    width: auto;
			    transform: translateX(-50%);
			    ul{
			    	display: flex;
				    justify-content: center;
				    li{
				    	margin-right: 0.5rem;
				    }
			    }
			}
		}
		#map iframe {
		    height: 400px;
		        margin-top: 5rem;
		}
	}
	.footer .language-footer .language__list{
		justify-content: center;
	}
	.footer{
		text-align: center;
		&__social ul{
			    margin: 0 auto;
			    margin-top: 1rem;
		}
	}
}

@media (max-width : 576px)   {
	h1{
		font-size: 1.8rem;
	}
	.basket-delivery .your-delivery__img{
		width: 85%;
	}
	.home{
		.first-screen{
			align-items: flex-end;
			.btn{
				width: 100%;
			}
			.triangle{
				display: none;
			}
		}
		.whywe-block-block {
	        min-height: 13rem;
		}
	}
	.rozrah-price-popup, .partners-popup, .doors-type-popup{
		width: 95%;
		height: 95vh;
	}
	.home .first-screen .triangle{
		min-width: 165%;
	}
	.contacts{
		&-information{
			&-top{
				    text-align: center;
			}
			.work-hours{
				margin-top: 2rem;
			}
		}
	}
	.open-blog__content .article-header{
		flex-direction: column;
	    align-items: flex-start;
	}
	.open-blog__content .article-social{
		margin: 0;
	}
	.article-social{
		margin-left: 0;
		ul{
		    display: flex;
		    justify-content: center;
		    margin-top: 1rem;
			li{
				margin-right: 0.5rem;
			}
		}
	}
	.partners .first-screen .triangle{
	    top: 40%;
	}
	.contacts-information .work-hours:after{
		display: none;
	}
	.rozrah-price{
		padding: 1rem;
	}
}

@media (max-height : 420px) and (orientation: landscape)   {
	.header{
		padding: 0.75rem 0;
		&-black{
			padding: 0.5rem 0;
			    margin-top: 1.5rem;
		}
		.header-logo{
			margin-bottom: 0;
		}
	}
	.header-cart__icon:after{
			height: 0;
		}
	.home .first-screen{
		align-items: flex-end;
	    padding-bottom: 2rem;
	}
	.home .first-screen h1, .partners .first-screen h1 {
	    margin-bottom: 0.75rem;
        font-size: 2.25rem;
	}
	.partners .first-screen{
		align-items: flex-end;
	}
	.partners .first-screen ul{
		margin-bottom: 1rem;
	}
	.partners .first-screen p{
		margin: 0.35rem 0;
	}
	.partners .first-screen__btn{
		margin-top: 0.75rem;
		margin-bottom: 1rem;
	}
	.partners .first-screen ul li{
		margin: 0;
		    font-size: 0.9rem;
	}
	.home .first-screen__btn{
		margin-top: 1rem;
		
	}
	.home .first-screen__btn{
		    margin-bottom: 1rem;
	}
	.home .first-screen .triangle{
		display: none;
	}
	.home .first-screen .mob-bg{
		background-size: 100%;
	}
	.header__menu{
		margin-top: 1rem;
	}

	.main {
        margin-top: 11.5rem;
    }
}

@media (max-height : 420px ) and (max-width : 767.9px) and (min-height: 576px)  {
	.header{
		&-black{
			    margin-top: 3.5rem;
		}
	}
}